body{
	background-color: black;
	
	scroll-behavior: smooth;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;


}

::-webkit-scrollbar {
    display: none;

}





#rectangle {
	
    width: 929px;
    height: 491px;
    background: transparent;
    border: 3px solid white;
    z-index: 1;
    border-radius:41px;
  max-width: 210%;
  margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   
   


  
  
}








h1{
	color: white;
	top:100px;
	position: relative;
	left: 50px;
	font-size: 50px;
	font-family: Dela Gothic One;
	max-width: 60%;
	user-select: none;
}

.пушка{
	width: 226.68px;
	height: 333.3;
   position: relative;
   float:right;
   margin-top: -160px;
   margin-right: 30px;
   
   max-width: 300%;
   

}

.create-line {
  width: 508.02px;
  border-top: 1px solid #fff;
  margin-top: 135px;
  position: relative;
  left: 45px;
  max-width: 55%;
}

h2{
	color: white;
	font-family: Dela Gothic One;
	font-size: 65px;
	user-select: none;
	margin-left: 50px;
	





}

.bio{
	margin-left: 80px;
	margin-top: 180px;
	width: 869px;
	height: 509px;
	
	position: relative;
	max-width: 180%;
	 margin-right: auto;
   margin-left: auto;



}

p{
	color: white;
	justify-content: center;
	top:0px;
	font-family: News Cycle;
	font-size: 20px;
	position: relative;
	user-select: none;
	margin-left: 50px;
	
}

.knop{
	width: 1100px;
	height: 1100px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;

}

.dos{
	width: 368px;
	height: 368px;
	margin-left: 30px;
}

.rec{
	position: relative;
	float: right;
	margin-top: 60px;
	width: 500px;
	margin-right: 75px;
}

.rus{
	color:black;
	font-family: Dela Gothic One;
	font-size: 36px;
float: right;
position: relative;
margin-top: -255px;
margin-right: 250px;


}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #6B4925;
}
   
.rec1{
	margin-top: 200px;
	float: left;
}

.zar{
	color:black;
	font-family: Dela Gothic One;
	font-size: 36px;
	float: left;

position: relative;
margin-top: 255px;
margin-left: -400px;
}

.zus{
	width: 368px;
	height: 368px;
	float: right;
	margin-top: 120px;
	margin-right: 150px;
}
.ziit{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.zit{
	width:847px;
	text-align: center;
}